--
-- PostgreSQL database dump
--

\restrict vjB5tQfJZkRDVT9HUoQobKXx6Lf1PT3WR7txPdCopcBZs3vW64IL4FtiUYggVrg

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: OwlReads_reader_dairy
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "OwlReads_reader_dairy";

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: OwlReads_reader_dairy
--

COPY public.alembic_version (version_num) FROM stdin;
9d1a9cdbbbe8
\.


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: OwlReads_reader_dairy
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- PostgreSQL database dump complete
--

\unrestrict vjB5tQfJZkRDVT9HUoQobKXx6Lf1PT3WR7txPdCopcBZs3vW64IL4FtiUYggVrg

